# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Module4_Login_DataBindingForm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
